body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: 'Open Sans', sans-serif;

}
.nav{
  position: fixed;
  width: 100%;
  top: 0;
  font-size: 12px;
  letter-spacing: 1.4px;
  
}
 
.nav ul {
  list-style: none;
  background-color: #000000;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Cousine', monospace;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  color: #000000;
}
.nav li:hover {
  background-color: #ffffff;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
}
.Container{
  width: 100%;
  z-index: -1;
  background-image: -webkit-linear-gradient(150deg, #0057FF 50%, #000 35%);
  min-height: 350px;
  color: white;
  padding: 30px;
  top: 40px;
  position: fixed;
  
}
.span{
  font-size: 5em;
}
.subtext{
  background-color: transparent;
  font-size: 1.5em;
  width: 500px;
  color: #fff;
  opacity: 60%;
  margin-top: 90px;
}
.row {
  margin-top: 50px;
  width:100%;
  justify-content: center;
  display: flex;
  background-color: black;
  
}
.spanbox{
  margin: 20px;
  height: 60px;

}
.spanbox span{
  font-size: 17px;
  opacity: 60%;

}
.row2 {
  margin-top: 1px;
  width:100%;
  justify-content: center;
  display: flex;
  background-color: black;
}
.col1 {
  height: 400px;
  width: calc(100% / 3);
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  margin: 1px;  
}
.textbox{
  font-size: 2em;
  background-color: transparent;
  height: 130px;
  padding: 20px;
}
hr{
  background-color: #CCD1D1;
  margin: 20px; 
}

/***********Buttons Learn more****************/

.form-buttons{
  width: auto;
  height: 100px;
  background-color: transparent;
}
.submit{
  background-color: #0057FF;
  text-align: center;
  border: none;
  color: white;
  margin: 20px;
  width: 85%;
  padding: 20px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}

/*****************marquee**************/
.marquee{
  margin-top: 500px;
  color: red;
  font-size: 3em;
}

