body{
	margin: 0;
	padding: 0;
	background-image: -webkit-linear-gradient(150deg, #0057FF 50%, #fff 50%);
	font-family: 'Montserrat', sans-serif;
}
.background{
	background-color: transparent;
	min-height: 100vh;text-align: center;
}
.container{
	background-color: #f2f2f2;
	border-radius: 10px;
	position: absolute;
	width: 30%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
}
.Signup_form{
	background-color: transparent;
	padding: 10px;
	color: #000;
}
#H1{
	font-size: 2.5em;
}
form{
	background-color: transparent;
	margin: 10px 0;
	padding: 0;
}
.Username_group, .Password_group, .Confirm_Password_group{
	padding: 5px 0;
}
input{
	margin: 10px 0;
	width: 65%;
	padding: 15px 20px;
	background: #fff;
	border-radius: 20px;
	border: 1px solid #000;

	color: #000;
	font-size: 14px;
	outline: none;
}
.button_group{
	margin: 20px 0;
}
.button_group button{
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 20px;
	cursor: pointer;
	outline: none;
	border: none;
	color: #fff;
	margin: 10px;
	width: 100px;
	background-color: #000;
}
.button_group a{
	text-decoration: none;
	color: #fff;
	font-weight: 700;
}
.already_account{
	font-size: 1.1em;
}

@media (max-width: 1000px){
	.background{
		background-image: -webkit-linear-gradient(150deg, #0057FF 50%, #fff 50%);
		background-color: #fff;
	}
	.container{
		min-width: 50%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

}

@media (max-width: 780px){
			.background{
				background-image: -webkit-linear-gradient(150deg, #0057FF 50%, #fff 50%);
				background-color: #fff;
			}
			.container{
				min-width: 50%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			.form input{
				width: 80%;
				font-weight: 700;
				border: 1px solid #000;
			}
			.Signup_form{
				background-color: transparent;
				border-radius: 10px;
				color: #000;
				font-weight: 700;
			}
}
@media (max-width: 460px){
	.container{
		min-width: 90%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.Signup_form{
		background-color: transparent;
		border-radius: 10px;
		color: #000;
		font-weight: 700;
	}
	.form input{
		width: 80%;
		font-weight: 700;
		border: 1px solid #000;
	}
	.already_account a{
		color: red;
		text-decoration: none;
	}
}
